<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h2>Welcome, {{ user.username }}!</h2>
    <p>This is your dashboard.</p>
    <h3>Your Favorite Golfers</h3>
<ul>
  {% for golfer in favorites %}
    <li>{{ golfer.name }} ({{ golfer.country }})</li>
  {% empty %}
    <li>No favorites yet</li>
  {% endfor %}
</ul>





    <h3>All golfers in the database</h3>

    <ul>
      {% for golfer in golfers %}
        <li>{{ golfer.name }} ({{ golfer.country }})</li>
      {% empty %}
        <li>No favorites yet.</li>
      {% endfor %}
    </ul>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>
